body {
    background-color: #202124;
}
#textbox {
    position: absolute;
    left: 475px;
    top: 295px;
    width: 584px;
    height: 45px;
    border-radius: 25px;
    border: 1px solid #5f6368;
    background: rgba(217, 217, 217, 0.00);
    margin-bottom: 20px;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    text-indent: 40px;
}
#sicon{
    position: absolute;
    left: 490px;
    top: 310px;
}
#Gsearch {
    position: absolute;
    left: 475px;
    top: 360px;
    border: 1px solid #303134;
    border-radius: 4px;
    background-color: #303134;
    height: 36px;
    width: 127px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #e8eaed;
    margin: 11px;
    margin-left: 150px;
}
#lucky {
    position: absolute;
    left: 760px;
    top: 360px;
    border: 1px solid #303134;
    border-radius: 4px;
    background-color: #303134;
    height: 36px;
    width: 130px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #e8eaed;
    margin: 11px;
    margin-left: 10px;
}
#img{
    position: absolute;
    left: 475px;
    top: 175px;
    margin-left: 150px;
    margin-bottom: 40px;
}
#rect {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 65.2px;
    width: 100vw;
    background: #171717;
    color:#898e95;
    padding-top: 20px;
    padding-left: 30px;
    font-size: medium;
    line-height: normal;
  }
#Links{
    text-align: right;
    color: #539aff;
    font-size: 14px;
}